//Utilities

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  min-height: 150px;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  li{
    margin-left: 10px;
    line-height: 146px;
    border-bottom: 4px solid transparent;
    &:hover{
      color: #0282F9;
      cursor: pointer;
      border-bottom: 4px solid #0282F9;
    
  }
}

a{
  text-decoration: none;
  color: black;
    &:hover{
    color: #0282F9;
    cursor: pointer;

  }
}
}
